@import './colors.scss';
@import './mixins.scss';
@import './base.scss';

.page-wrapper {
  max-width: 640px;
  padding: 16px;

  @include bp(md) {
    padding: 24px;
  }

  @include bp(xl) {
    padding: 24px 64px;
  }

  a {
    color: $black;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;

    &:hover {
      text-decoration: underline;
      color: $blue;
    }
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 24px;
}

ul, ol { margin-top: 16px; }

li { 
  font-size: 16px;
  line-height: 1.2;
  margin-left: 16px;

  & + li { margin-top: 12px; }
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

b { font-weight: bold; }

p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.33;

  & + p { margin-top: 8px; }
}

