@import './colors.scss';
@import './mixins.scss';
@import './base.scss';


.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include bp(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.stat {
  border: 1px solid $gray;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;

  & + .stat { margin-top: 12px; }

  @include bp(md) {
    padding: 24px;
  }

  h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    text-transform: capitalize;
  }

  p {
    color: $gray;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin-top: 4px;
  }
}

.timer-wrapper {
  // @include bp(md){
    // grid-column: 1 / span 2;
  // }

  @include bp(md){
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

.timer-header {
  border-radius: 8px;
  border: 1px solid $gray;
  overflow: hidden;
  color: $black;
  display: flex;
  align-items: center;

  button {
    padding: 12px 32px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;

    &:hover:not(.highlight) {
      background: $gray-light;
      // color: $white;
    }
  }

  .highlight {
    background: $black;
    color: $white;
  }
}

.timer {
  border: 1px solid $gray;
  border-radius: 16px;
  padding: 16px;
  margin-top: 12px;
  // min-height: 100%;

  @include bp(md) {
    padding: 24px;
    margin-top: 16px;
  }

  input {
    margin-top: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $gray;
    padding: 12px;
  }
}

.countdown-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  align-items: center;
}

.countdown {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;

  span {
    display: block;
    color: $gray;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 4px;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;

  & > * {
    color: $black;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 1px solid $gray;
    padding: 12px;

    &:hover {
      background: $gray-light;
    }

    &:disabled {
      background: $gray-lightest;
      border: 1px solid $gray-med;
      color: $gray;
      cursor: not-allowed;

      &:hover {
        background: $gray-lightest;
        border: 1px solid $gray-med;
        color: $gray;
      }
    }
  }
}

.task-table {
  border: 1px solid $gray;
  border-radius: 16px;

  @include bp(md) {
    grid-column: 1 / span 2;
  }
}

table {
  width: 100%;
  & > * { width: 100%; }
}

thead {
  tr { border-top: none; }
}

tr {
  display: grid;
  grid-template-columns: 1fr repeat(7, 80px) 40px;
  border-top: 1px solid $gray;
  padding: 12px;
  gap: 24px;
}

th {
  color: $gray;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  
  gap: 12px;
}

td {
  text-align: center; 
  input { 
    width: 100%; 
    border-radius: 4px;
    border: 1px solid $gray;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.error { border: 1px solid red; }

    &:disabled {
      background: $gray-lightest;
      border: 1px solid $gray-med;
      color: $gray;
      cursor: not-allowed;

      &:hover {
        background: $gray-lightest;
        border: 1px solid $gray-med;
        color: $gray;
      }
    }
  }
}

