body {
  position: relative;
  width: 100vw;
  color: $black;

  @include bp(lg) {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
}

.site-menu {
  background: $black;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;

  @include bp(sm) {
    padding: 16px 24px;
  }

  @include bp(lg) {
    width: 224px;
    height: 100vh;
    padding: 24px;
    flex: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(lg) {
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }
  }

  .logo-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include bp(lg) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 36px;
    }
  }

  .menu-trigger {
    @include bp(lg) {
      display: none;
    }
  }

  .menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    color: $gray-light;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-transform: capitalize;
    text-align: left;
    padding: 0;

    svg, img { 
      width: 20px; 
      height: 20px;
    }

    &.highlight { color: $white; }

    &:hover:not(:disabled) {
      text-decoration: underline;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .link-list {
    display: none;

    @include bp(lg) {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
}

.page-header {
  background: $gray-light;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid $gray;

  @include bp(md) {
    padding: 24px;
  }

  @include bp(lg) {
    padding: 24px 64px;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.page-wrapper {
  padding: 16px;

  @include bp(md) {
    padding: 24px;
  }

  @include bp(xl) {
    padding: 24px 64px;
  }
}

a { 
  color: $black; 
  text-decoration: none;
}

.btn {
  color: $white;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: capitalize;
  display: flex;
  // min-width: 200px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  border: 1px solid $black;
  background: $black;

  &:hover {
    border: 1px solid $blue;
    background: $blue;
    text-decoration: none;
  }

  &-ghost {
    background: transparent;
    color: $black;

    &:hover {
      color: $blue;
      border: 1px solid $blue;
    }
  }

  &-icon {
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: $gray-light;
    }

    &:hover {
      background: $blue;

      svg { color: $white; }
    }
  }
}