@import './reset.scss';
@import './colors.scss';
@import './mixins.scss';
@import './base.scss';

body {
  position: relative;
  width: 100vw;

  @include bp(lg){
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }
}

.site-menu {
  background: $black;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;

  @include bp(sm){ padding: 16px 24px; }

  @include bp(lg){
    width: 224px;
    height: 100vh;
    padding: 24px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(lg){
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }
  }

  .logo-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include bp(lg){ 
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 24px;
    }
  }

  .menu-trigger {
    @include bp(lg){ display: none; }
  }

  .menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: $gray-light;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    text-align: left;
    padding: 0;

    &:hover:not(:disabled) { color: $white; }

    &:disabled { 
      cursor: not-allowed; 
    }
  }

  .link-list {
    display: none;

    @include bp(lg){ 
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
}

